body {
    
    background-image: url("img2.jpg");
    ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("img2.jpg");
    filter: blur(4px);
    height: 100%;
    margin: 0;
   
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(4px)
  
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
H1 {  text-align: center;  }
H1+p {  text-align: center;  }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 6; /* Make sure it does not overlap */
    border:4px solid darkblue; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: dark blue; /* Set a background color */
    color: lightblue; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: lightblue; /* Add a dark-grey background on hover */
    color: darkblue;
  }

/*
{
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
*/
